/**Header**/

header h1{
	font-family: 'Rock Salt', cursive;
	color: darkolivegreen;
	margin: 0;
	text-align: center;
	font-size: 50px;
	padding: 10px;
}

header p{
font-family: 'Special Elite', cursive;
	color: darkolivegreen;
	font-size: 25px;

}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
	border-bottom:#425A45 solid 5px;
}

header li {
	list-style: none;
}

/**Nav Bar**/

nav{
	font-size: 20px;
	font-family: 'Special Elite', cursive;
}

nav ul{
	padding: 0;
}

nav a{
	text-decoration: none;
	color: forestgreen;
	padding: 2px 10px 0 10px;	
}

.search_bar{
	height: 29.2px;
	width: 315px;
	margin-right: 10px;
	text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #CFEED3;
}
.dropdown:hover .dropdown-content {
  display: block;
	padding: 0;
}

.dropdown-content a {
  display: block;
  color: forestgreen;
  padding: 5px, 15px, 5px, 15px;
  text-decoration: none;
  text-align: center;
}

.dropdown-content a:hover {
  color: darkolivegreen;
  background-color: #CFEED3;
}

/**Headings**/

body h2{
		font-family: 'Rock Salt', cursive;
}

body h3{
	font-family: 'Special Elite', cursive;
	font-size: 40px;
}

body h4{
	padding: 0;
	font-size: 20px;
	text-align: left;
}

/**Backgrounds**/

.background {
	/*background: #B0F7C2;*/
	background: rgba(176, 247, 194, 0.7);
}

.background2 {
	background: rgba(63, 129, 54, 0.6);
	color: #CFEED3;
	border: #425A45 solid;
	width: 70%;
}

.background3{
	background-color: white;
	border-top: #425A45 solid 5px;
}

.article_background{
	background: rgba(176, 247, 194, 0.7);
}

/**Introductionary Section**/

.ecofriendly-image{
	background: url(../img/Background1-1.jpg) no-repeat center center fixed;
	min-height: 70vh;
	max-height: ;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.introduction-text{
	font-family: 'Special Elite', cursive;
	text-align: center;
	font-size: 25px;
	padding: 1.5em;
	border-radius: 10px;
	margin: auto;
}

/**General**/


body{
	font-family: 'Nanum Brush Script', cursive;
	color:  #79A67F;
	border: darkolivegreen 10px groove;
}

a:hover{
	color: darkolivegreen;
	text-decoration: underline;
}

.wrapper{
	display: flex;
	flex-direction: column;
	background: ghostwhite;
}

main{
font-family: 'Architects Daughter', cursive;
	color: black;
	font-size: 22px;
	line-height: 2;
}

main p{
		margin: 10px 0;
	padding: 10px 15px;
}

h2{
	padding: 15px;
	text-align: center;
	color: darkolivegreen;
	font-size: 40px;
	margin:  0 auto;
}

h3{
	padding: 30px 0;
	margin: 0;
	text-align: left;
	color: darkolivegreen;
	text-align: center;
}

/**General Articles**/

article {
	margin: auto;
	min-width: 324px;
	word-break: break-word;
}

article ul{
		font-family: 'Special Elite', cursive;
		padding: 0;
		margin: 10px;

}

article a{
	text-decoration: underline;
	color: black;
}

article ul li{
	text-align: right;
	display: inline-flex;
	font-family: 'Special Elite', cursive;
}

article ol li{
	list-style-position: inside;
}

article h4{
	font-family: 'Special Elite', cursive;
	text-align: left;
	display: inline-flex;
	margin: 5px 0;
	text-decoration: none;
	font-size: 25px;
	color: darkolivegreen;
}

article h5{
	font-family: 'Special Elite', cursive;
	font-size: 30px;
	color: darkolivegreen;
	margin: 0;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

article h6{
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	color: black;
	margin: 0;
	font-weight: 700;
	margin-left: 10px;
	text-decoration: underline;
	padding: 15px 0;
}

article > header {
	background: lightgreen;
}

.blog-images{
	width: 400px;
	max-width: 90%;
	float: left;
	clear: both;
	margin-right: 15px;
	border: darkolivegreen solid 10px;
}

article ol{
	padding: 0 5px;
}

#sources{
	font-size: 12px;
}

article header{
	max-width: 100%;
}

/*Sidebar*/

aside{
	text-align: center;
	margin: auto;
}


/**Toothsoap Article**/

.toothsoap{
	width: 600px;
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 100%;
}

.nutritional{
	width: 400px;
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 100%;
}

.numbered_list{
	font-family: 'Architects Daughter', cursive;
	color: black;
	font-size: 25px;
}


/**About**/


.wilf-image{
	border: 30px darkolivegreen;
	width: 27%;
	margin: 0 auto;
	display: flex;
}




/**Biork Blog Page**/

.biork{
	width: 600px;
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 100%;
}

/**Blog Page**/

td:nth-child(2) {
	padding-left:  10px;
}

i {
	margin: 0 5px;
}





/**Comments Form**/

form{
	clear: both;
}

.comment-label{
	display:flex;
}



.article-comments{
	background-color: lightgreen;
	width: 100%;
	display: block;
}

.article-comments form {
	margin:auto;
}

.article-comments input, .article-comments textarea{
	width: 80%;
	margin: 0;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid grey;
	font-family: special-elite;
	font-size: 20px;

}

.article-comments input:focus, .article-comments textarea:focus{
	border: 2px solid black;
}


.article-comments button{
	width: 80%;
	font-family: special-elite;
	font-size: 20px;
}

section label{
	color: darkolivegreen;
}

comment-area{
	width: 400px;
}

/**Size Adjustments*/

/*large size*/

@media (min-width: 1357px){
body{
	max-width: 1600px;
	margin: 0 auto;
}

header{
	flex-direction: row;

}
header li{
	display: inline-block ;
}

header h1, header nav, header h2{
	flex: 1;
}

header nav{
	text-align: right;
	padding: 30px 10px 15px 0;
}

header h1, header h2{
	text-align: left ;
	float: left;
}

header p{
	width: 600px;
	padding-top: 25px;
	float: left;
}

.wrapper {
	flex-direction: row;
}

main {
	flex: 3;
}

aside {
	flex: 1;
	margin-left: 15px;
}

article > header {
	justify-content: space-around;
}



h2{
	text-align: left;
}

/**large ratings**/

.ratings{
	background-color: forestgreen;
	border-radius: 20px;
	font-size: 40px;
	margin: auto;
	display: inline-block;
	vertical-align: baseline
}

article table{
	padding-left: 10px;
}

.rating_text{
	text-align: center;
	width: 90%;
	margin: 0;
		}


.rating_title{
	font-size: 40px;
	display: inline-flex;
	margin: auto;
}

}

/*medium size*/

@media (min-width: 940px){
	article{
		max-width: 932px
	}

	article h2{
	font-size: 60px;
}
.wilf-image{
ext		float: right;
		overflow: auto;
}

.rating_title{
	word-break: break-all;
}

.introduction-text{
	font-size: 40px;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgba(22, 111, 22, 0.39);
  min-width: 342px;
  max-width: 430px;
  box-shadow: 120px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
}

.dropdown2:hover .dropdown-content2 {
  display: inline;
}

}