header h1{
	font-family: 'Bayon', sans-serif;
	color: darkolivegreen;
	margin: 0;
	text-align: center;
	font-size: 50px;
}

.title-text {
	font-family: 'Bayon', sans-serif;
	color: darkolivegreen;
	font-size: 20px;
}


.dropdown {
  display: inline-block;
  position: relative;
}

nav{
	font-size: 15px;
	padding: 2px 10px 0 10px;
	font-family: 'Bayon';
	color: ;
}

.search_bar{
	height: 29.2px;
	width: 200px;
	margin-right: 10px;
	text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #CFEED3;
}
.dropdown:hover .dropdown-content {
  display: block;
	padding: 0;

}
.dropdown-content a {
  display: block;
  color: forestgreen;
  padding: 5px, 15px, 5px, 15px;
  text-decoration: none;
  text-align: center;
}
.dropdown-content a:hover {
  color: darkolivegreen;
  background-color: #CFEED3;
}

body{
	font-family: 'Bayon', sans-serif;
	color:  #79A67F;
	border: darkolivegreen 10px groove;
}

.background {
	/*background: #B0F7C2;*/
	background: rgba(176, 247, 194, 0.7);
}

.background2 {
	background: rgba(63, 129, 54, 0.6);
	color: #CFEED3;
	border: #425A45 solid;

}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
	border-bottom:#425A45 solid ;
}

li {
	list-style: none;
}

ul{
	padding: 0
}

.article ul{
	padding: 12px 30px 0 0;
	text-align: center;	
}


.article a{
	margin: 10px;
}

.article li{
	text-align: right;
	display: inline-flex;
}

.article h4{
	text-align: left;
	display: inline-flex;
	margin: 5px 0;
	text-decoration: none;
	font-size: 25px;
	color: darkolivegreen;
}

.ecofriendly-image{
	background: url(../img/forest2.jpg) no-repeat center center fixed;
	min-height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.introduction-text{
	text-align: center;
	font-size: 2em;
	padding: 1.5em;
	border-radius: 10px;
}

nav a{
	text-decoration: none;
	color: forestgreen;
	padding: 2px 10px 0 10px;	
}

a:hover{
	color: darkolivegreen;
	text-decoration: underline;

}

.wrapper{
	display: flex;
	flex-direction: column;
	background: ghostwhite;
}

body h2{
	font-family: 'Indie Flower', cursive;
}

body h3{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

body h4{
	padding: 0;
	font-size: 20px;
	text-align: left;
}



.about-me{
	padding: 0, 15px, 0 0;
	margin: 0;
	float: right;
	border-top: darkolivegreen solid 5px;
}

body p{
	margin: 10px;
}


article, .sidebar-widget {
	padding: 15px;
	margin: 15px 0;
}

article > header {
	background: lightgreen;
}

.blog-images{
	width: 100%;
}

.toothsoap{
	width: 400px;
	float: left;
	clear: both;

}

article h5{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: darkolivegreen;
	margin: 0;
}

.toothsoap_text{
	font-family: 'Indie Flower', cursive;
	color: black;
	font-size: 20px;
}

.article-comments{
	background-color: lightgreen;

}

.article-comments-text{
	color: darkolivegreen;
	float: left;
	margin-bottom: 10px;
}

section label{
	color: darkolivegreen;
}

.image-section{
	text-align: center;
}

.wilf-image{
	width: 400px;
	height: auto;
	border: 30px darkolivegreen;
}


td:nth-child(2) {
	padding-left:  10px;
}

i {
	margin: 0 5px;
}

h2{
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: darkolivegreen;
	font-size: 70px;
	text-decoration: underline;
}

h3{
	padding: 10px;
	margin: 10px;
	text-align: left;
	color: darkolivegreen;
}


.social{
	text-align: left;
}


@media (min-width: 1000px){
body{
	max-width: 1600px;
	margin: 0 auto;
}

header{
	flex-direction: row;

}
header li{
	display: inline-block ;
}

header h1, header nav, header h2{
	flex: 1;
}

header h1, header h2{
	text-align: left ;
	float: left;
	padding: 10px;
}

.title-text{
	float: left;
	padding: 45px 0 0 0;
	margin: 0px
}


header nav{
	text-align: right;
	padding: 30px 10px 15px 0;
}

/* blog */
.wrapper {
	flex-direction: row;
}

main {
	flex: 3;
}

aside {
	flex: 1;
	margin-left: 15px;
}

article > header {
	justify-content: space-around;
}

.wilf-image{
	float: right;
}

}