header h1{
	font-family: 'Rock Salt', cursive;
	color: darkolivegreen;
	margin: 0;
	text-align: center;
	font-size: 50px;
}

header p{
font-family: 'Special Elite', cursive;
	color: darkolivegreen;
	font-size: 25px;

}


.dropdown {
  display: inline-block;
  position: relative;
}

nav{
	font-size: 20px;
	margin: auto;
	padding: 2px 10px 0 10px;
	font-family: 'Special Elite', cursive;
}



.search_bar{
	height: 29.2px;
	width: 315px;
	margin-right: 10px;
	text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: #CFEED3;
}
.dropdown:hover .dropdown-content {
  display: block;
	padding: 0;

}
.dropdown-content a {
  display: block;
  color: forestgreen;
  padding: 5px, 15px, 5px, 15px;
  text-decoration: none;
  text-align: center;
}
.dropdown-content a:hover {
  color: darkolivegreen;
  background-color: #CFEED3;
}

body{
	font-family: 'Nanum Brush Script', cursive;
	color:  #79A67F;
	border: darkolivegreen 10px groove;
	min-width: ;
}

.background {
	/*background: #B0F7C2;*/
	background: rgba(176, 247, 194, 0.7);
}

.about_me .background{
	border-top: #425A45 solid 5px;
}

.background2 {
	background: rgba(63, 129, 54, 0.6);
	color: #CFEED3;
	border: #425A45 solid;
}

.background3{
	background-color: white;
	border-top: #425A45 solid 5px;
}


header {
	text-align: center;
	display: flex;
	flex-direction: column;
	border-bottom:#425A45 solid 5px;
}

header li {
	list-style: none;
}

ul{
	padding: 0
}

article ul{
		font-family: 'Special Elite', cursive;

}


article a{
	text-decoration: underline;
	color: black;
}

article ul li{
	text-align: right;
	display: inline-flex;
	font-family: 'Special Elite', cursive;
}

article h4{
	font-family: 'Special Elite', cursive;
	text-align: left;
	display: inline-flex;
	margin: 5px 0;
	text-decoration: none;
	font-size: 25px;
	color: darkolivegreen;
}

.ecofriendly-image{
	background: url(../img/Background1-1.jpg) no-repeat center center fixed;
	min-height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.introduction-text{
	font-family: 'Special Elite', cursive;
	text-align: center;
	font-size: 2em;
	padding: 1.5em;
	border-radius: 10px;
}

nav a{
	text-decoration: none;
	color: forestgreen;
	padding: 2px 10px 0 10px;	
}

a:hover{
	color: darkolivegreen;
	text-decoration: underline;

}

.wrapper{
	display: flex;
	flex-direction: column;
	background: ghostwhite;
}

body h2{
	font-family: 'Special Elite', cursive;
}

body h3{
	font-family: 'Special Elite', cursive;
	font-size: 30px;
}

body h4{
	padding: 0;
	font-size: 20px;
	text-align: left;

}



.about-me{
	padding: 0, 15px, 0 0;
	margin: 0;
	float: right;
	border-top: darkolivegreen solid 5px;
}

main p{
	margin: 10px;
}


article, .sidebar-widget {
	padding: 15px;
	margin: 15px 0;
}

article > header {
	background: lightgreen;
}

.blog-images{
	width: 400px;
	float: left;
	clear: both;
	margin-right: 15px;
	border: darkolivegreen solid 10px;

}

.toothsoap{
	width: 600px;
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 100%;

}

article {
	width: 70%;
	margin: auto;
	min-width: 370px;
}

article h2, article ul{
	display: inline-block;
}

article h5{
	font-family: 'Special Elite', cursive;
	font-size: 30px;
	color: darkolivegreen;
	margin: 0;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

article h6{
	font-family: 'Nanum Brush Script', cursive;
	font-size: 30px;
	color: black;
	margin: 0;
	text-align: left;
	display: inline-block;
	font-weight: 700;
	padding-left: 20px;
}

.article_text1{
	padding: 20px 0 20px 0;
	line-height: 2;

}

.numbered_list{
	font-family: 'Nanum Brush Script', cursive;
	color: black;
	font-size: 25px;
}

main p{
	font-family: 'Nanum Brush Script', cursive;
	color: black;
	font-size: 25px;
	display: inline;
}


article li{


}

.article-comments{
	background-color: lightgreen;

}

.article-comments-text{
	color: darkolivegreen;
	float: left;
	margin-bottom: 10px;
}

section label{
	color: darkolivegreen;
}

.image-section{
	text-align: center;
}

.wilf-image{
	width: 400px;
	height: auto;
	border: 30px darkolivegreen;
	max-width: 100%;
}


td:nth-child(2) {
	padding-left:  10px;
}

i {
	margin: 0 5px;
}

h2{
	padding-top: 10px;
	padding: 2px;
	text-align: center;
	color: darkolivegreen;
	font-size: 60px;
	max-width: 90%;
	margin:  0 auto;
}

article header{
	max-width: 100%;
}

h3{
	padding: 10px;
	margin: 10px;
	text-align: left;
	color: darkolivegreen;
}


.social{
	text-align: left;
}

.article_background{
	background: rgba(176, 247, 194, 0.7);
}

.wilf-image{
	left: 500px;
	float: left;
}


@media (min-width: 1357px){
body{
	max-width: 1600px;
	margin: 0 auto;
}

header{
	flex-direction: row;

}
header li{
	display: inline-block ;
}

header h1, header nav, header h2{
	flex: 1;
}

header nav{
	text-align: right;
	padding: 30px 10px 15px 0;
}

header h1, header h2{
	text-align: left ;
	float: left;
	padding: 10px;
}

header p{
		width: 500px;
	padding-top: 25px;
	float: left;
}



/* blog */
.wrapper {
	flex-direction: row;
}

main {
	flex: 3;
}

aside {
	flex: 1;
	margin-left: 15px;
}

article > header {
	justify-content: space-around;
}

}